{% load staticfiles %}

<nav class="navbar navbar-expand-md fixed-top" style="background-color: blueviolet;">
  <a class="navbar-brand" href="" style="color: cornsilk; padding-left: 100px;font-family: 'Times New Roman', Times, serif;">SALOON BOOKING APP</a>
  <div class="navbar-toggler" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
  <span class="icon-menu" style="color: cornsilk;" >Menu</span>
  </div>

  <div class="collapse navbar-collapse" style="color: cornsilk;" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}" style="color: cornsilk;">Home <span class="sr-only">(current)</span></a>
  
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'service' %}" style="color: cornsilk;">Services <span class="sr-only">(current)</span></a>
  
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'book' %}" style="color: cornsilk;">Book-service<span class="sr-only">(current)</span></a>

      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'time' %}" style="color: cornsilk;">Check-Time<span class="sr-only">(current)</span></a>
  
        </li>
    
        </li>
            
        <div class="col" style="padding-left:450px;">
        <p class="col"></p>
      </div>
          <l1>
            <p>Lets Connect On:
            <a href="" style="color: cornsilk;"><i aria-hidden="true" class="fa fa-facebook-square"></i></a>
            <a href="" style="color: cornsilk;"><i aria-hidden="true" class="fa fa-twitter-square"></i></a>
            <a href="" style="color: cornsilk;"><i aria-hidden="true" class="fa fa-linkedin-square"></i></a>
            <a href="" style="color: cornsilk;"><i aria-hidden="true" class="fa fa-google-plus-square"></i></a>
            <a href="" style="color: cornsilk;"><i aria-hidden="true" class="fa fa-instagram"></i></a>
          </p>
          </l1>
        
      
    </ul>
    
  </div>
</nav>



