{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="site-section bg-light" id="pricing-section">
    <div class="container">
    
<div class="row site-section" id="faq-section">
    <div class="col-12 text-center" data-aos="fade">
      <h2 class="section-title">Available services</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      
      <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
        <h3 class="text-black h4 mb-4">Hair Dressing and Dreadlocks</h3>
        <p>We do alot on hair styling and designing for most of our clients thus best quality services</p>
        </div>
        
      
       
    <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
      <h3 class="text-black h4 mb-4">Blowdry and Jollying</h3>
      <p>We also moistens hairs thus by blowdry and Jollying</p>
    </div>

      
    <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
      <h3 class="text-black h4 mb-4">Make Ups, Lipsticks and Body Lotions</h3>
      <p>We provide the best beaty lipstics for body</p>
      </div>
      
      
    </div>
    <div class="col-lg-6">
      <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
        <h3 class="text-black h4 mb-4">Ears and Nose Piecing</h3>
        <p>We do all kinds of Piecing.Our piecing tools are steralized and well equiped</p>
      </div>

      <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
        <h3 class="text-black h4 mb-4">Massage and Body Scrabbing</h3>
        <p>Here we provide a quality Massage and body Scrabbing lotions that moistens and smoothens skins</p>
      </div>

      <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
        <h3 class="text-black h4 mb-4">Nenicure and Pedicure</h3>
        <p>We work everyday to improve our styling ability on menicure and Pedicure for beauty</p>
      </div>
      
    </div>
  </div>

  </div>
  </section>

{% endblock %}